Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. 
Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

In [12]:
import pandas as pd
df = pd.read_csv('H:/Мой диск/УЧЕБА Разработчик/6. Знакомство с Python/Homework_Python_Seminar_11/sample_data/california_housing_test.csv')
print(df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [19]:
df.head(n=5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [23]:
pop_df = df[df['population'] < 501] #выборка population < 500
print(pop_df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
3       -118.36     33.82                28.0         67.0            15.0
15      -117.99     33.81                42.0        161.0            40.0
16      -120.81     37.53                15.0        570.0           123.0
34      -118.32     33.94                38.0       1067.0           170.0
51      -119.42     35.97                21.0        554.0           121.0
...         ...       ...                 ...          ...             ...
2929    -117.23     32.74                16.0        735.0           139.0
2947    -123.02     38.81                35.0        956.0           213.0
2960    -117.89     33.60                36.0       1496.0           247.0
2992    -122.33     37.39                52.0        573.0           102.0
2998    -117.12     34.10                40.0         96.0            14.0

      population  households  median_income  median_house_value
3           49.0        11.0         6.1359            330000.0
15         157.0        50.0         2.2000            153100.0
16         189.0       107.0         1.8750            181300.0
34         499.0       169.0         4.6389            183800.0
51         426.0       122.0         2.3516             47500.0
...          ...         ...            ...                 ...
2929       299.0       134.0         4.6354            179200.0
2947       488.0       215.0         3.0250            140600.0
2960       441.0       203.0         7.8164            500001.0
2992       232.0        92.0         6.2263            500001.0
2998        46.0        14.0         3.2708            162500.0

[305 rows x 9 columns]

In [28]:
print(f"Cреднее значение стоимости: {round(pop_df['median_house_value'].mean(),2)}")

Cреднее значение стоимости: 190157.09

Задача 42: Узнать какая максимальная households в зоне минимального значения population

In [41]:
pop_df = df[df['population'] == df['population'].min()] # отбо с минимальным population
print(pop_df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2640    -114.62     33.62                26.0         18.0             3.0

      population  households  median_income  median_house_value
2640         5.0         3.0          0.536            275000.0

In [39]:
pop_df['households'].min()

3.0